In [1]:
import pandas as pd
import numpy as np


file_path=r'E:/PROJECT_02/data_set/amazon_india_2015.csv'

df = pd.read_csv(file_path)

In [2]:
#df = df.drop("Unnamed: 0", axis=1)

df.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2015_00000001,2015-01-25,CUST_2015_00003884,PROD_000021,Samsung Galaxy S6 16GB Black,Electronics,Smartphones,Samsung,123614.29,27.91,...,True,Republic Day Sale,5.0,Delivered,1,2015,1,0.19,True,4.7
1,TXN_2015_00000002,2015-01-05,CUST_2015_00011709,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,False,NaN,4.5,Delivered,1,2015,1,0.20,True,4.1
2,TXN_2015_00000003,2015-01-24,CUST_2015_00004782,PROD_000039,Samsung Galaxy Note 5 64GB Black,Electronics,Smartphones,Samsung,97644.25,46.93,...,True,Republic Day Sale,NaN,Delivered,1,2015,1,0.17,True,3.3
3,TXN_2015_00000004,2015-01-28,CUST_2015_00008105,PROD_000085,Motorola Moto G (3rd Gen) 16GB Black,Electronics,Smartphones,Motorola,"21,947.26",0.00,...,False,NaN,3.0,Delivered,1,2015,1,0.22,True,3.5
4,TXN_2015_00000005,2015-01-31,CUST_2015_00002955,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,FALSE,NaN,4.0,Delivered,1,2015,1,0.20,True,4.1

##Q1 order_date columns clean

In [3]:

df = pd.read_csv(file_path)

df['order_date']=pd.to_datetime(df['order_date'], format='mixed')



df.to_csv(file_path, index=False)

print(" order_date clean and file updated successfully.")

 order_date clean and file updated successfully.

In [4]:
df['order_date'].unique()

<DatetimeArray>
['2015-01-25 00:00:00', '2015-01-05 00:00:00', '2015-01-24 00:00:00',
 '2015-01-28 00:00:00', '2015-01-31 00:00:00', '2015-01-04 00:00:00',
 '2015-01-27 00:00:00', '2015-01-08 00:00:00', '2015-01-18 00:00:00',
 '2015-01-03 00:00:00',
 ...
 '2015-12-13 00:00:00', '2015-12-22 00:00:00', '2015-12-23 00:00:00',
 '2015-12-19 00:00:00', '2015-12-15 00:00:00', '2015-12-31 00:00:00',
 '2015-12-25 00:00:00', '2015-12-29 00:00:00', '2015-12-27 00:00:00',
 '2015-12-21 00:00:00']
Length: 365, dtype: datetime64[ns]

##Q2 Original_price_inr

In [5]:
df = pd.read_csv(file_path)


chars_to_remove=['+',',','$','Rs','₹','-']
cols_to_clean=['original_price_inr']
for item in chars_to_remove:
    for cols in cols_to_clean:
        df[cols]=df[cols].str.replace(item,'')

df['original_price_inr']=df['original_price_inr'].astype('float')

df.to_csv(file_path, index=False)

print(" original_price_inr clean and file updated successfully.")

 original_price_inr clean and file updated successfully.

In [6]:
df['original_price_inr'].unique()

array([1.2361429e+05, 5.4731860e+04, 9.7644250e+04, 2.1947260e+04,
       1.3119465e+05, 8.6987640e+04, 3.2169010e+04, 4.0264160e+04,
       8.8664850e+04, 7.3967020e+04, 7.2564100e+04, 2.0987555e+05,
       4.5363470e+04, 2.3075710e+04, 1.1409663e+05, 6.9584330e+04,
       3.8884190e+04, 4.6234090e+04, 1.5065010e+04, 1.6416684e+05,
       6.4917570e+04, 2.9534700e+04, 8.6477530e+04, 1.3721420e+04,
       1.1814116e+05, 8.6591570e+04, 2.3264310e+04, 9.4029640e+04,
       1.7206230e+04, 3.7013540e+04, 1.3043024e+05, 1.3072361e+05,
       4.1408670e+04, 5.6337890e+04, 7.5380480e+04, 2.3161100e+04,
       4.6680900e+04, 4.3572750e+04, 1.9375090e+04, 3.8969900e+03,
       2.0006120e+04, 3.0990650e+04, 9.6543620e+04, 2.2683690e+04,
       1.0264914e+05, 1.0738737e+05, 6.7444910e+04, 2.4762020e+04,
       1.7790720e+04, 4.7979000e+04, 2.4448870e+04, 1.0274122e+05,
       5.1356920e+04, 3.3199840e+04, 9.7531100e+03, 8.8872680e+04,
       7.2369630e+04, 1.2645400e+05, 2.4762000e+04, 7.8047800e+04,
       6.0643250e+04, 1.4558980e+05, 2.1212000e+04, 4.0438410e+04,
       1.2984580e+04, 3.9490870e+04, 4.0307830e+04, 6.2405020e+04,
       1.1071950e+04, 8.2953190e+04, 2.0323890e+04, 1.7320342e+05,
       4.6458940e+04, 9.5494860e+04, 3.5581670e+04, 3.1102540e+04,
       1.9046910e+05, 1.9871970e+04, 2.1172116e+05, 2.5093870e+04,
       2.1211500e+04, 5.2280350e+04, 2.9350420e+04, 1.6954440e+05,
       1.9864160e+04, 1.3495030e+04, 4.6234000e+04, 7.6246510e+04,
       5.6461600e+03, 2.4160320e+04, 4.3767400e+04, 3.9010090e+04,
       1.7349967e+05, 2.8668340e+04, 2.3087980e+04, 2.6317100e+04,
       7.4885610e+04, 9.7905920e+04, 4.5182310e+04, 4.2790640e+04,
       1.1480624e+05, 2.0175120e+04, 1.3142121e+05, 4.7978890e+04,
       2.2779490e+04, 1.3617695e+05, 2.3391490e+04, 3.9491000e+04,
       1.7869250e+04, 3.6351000e+04, 5.7182390e+04, 7.7250030e+04,
       1.8500958e+05, 1.7979549e+05, 1.3267866e+05, 1.6795246e+05,
       1.3043000e+05, 1.0481430e+04, 1.7869000e+04, 1.1531600e+04,
       2.2684000e+04, 1.1728933e+05, 9.4298200e+03, 1.0966446e+05,
       1.6482819e+05, 1.8053075e+05, 2.1456840e+04, 1.3759000e+05,
       1.5595890e+05, 1.7718710e+04, 1.7116370e+04, 1.8318573e+05,
       1.1874051e+05, 1.5074620e+05, 1.1728900e+05, 1.3758970e+05,
       4.4830400e+04, 2.0321710e+04, 9.7906000e+04, 2.9675170e+04,
       1.0738700e+05, 2.0258290e+04, 1.8723201e+05, 1.4094679e+05,
       1.3440840e+04, 4.5182000e+04, 4.4830400e+05, 5.7182000e+04,
       3.6350600e+04, 3.9010090e+06, 3.7014000e+04, 4.4203120e+04,
       1.5974247e+05, 1.4094700e+05, 1.5228530e+04, 1.6406110e+04,
       1.3119500e+05, 3.1103000e+04, 1.3930776e+05, 1.6927003e+05,
       8.8665000e+04, 1.7717090e+04, 7.7250000e+04, 1.5842489e+05,
       1.4362600e+04, 1.1814100e+05, 2.9675000e+04, 8.6592000e+04,
       8.9785000e+03, 1.7791000e+04, 1.3344050e+04, 1.1480600e+05,
       1.3965560e+04, 1.8470489e+05, 1.2171100e+04, 1.3790620e+04,
       2.0937460e+04, 2.0324000e+04, 1.3975159e+05, 2.0987600e+05,
       3.9010000e+04, 1.8972448e+05, 1.1648020e+04, 1.6286691e+05,
       3.3200000e+04, 2.4449000e+04, 7.7205100e+03, 3.7950100e+03,
       7.5380000e+04, 2.8668000e+04, 1.2757300e+04, 1.4834657e+05,
       1.8318600e+05, 7.8048000e+04, 1.3921720e+04, 5.4732000e+04,
       1.5201502e+05, 2.6317100e+06, 1.5126000e+05, 2.3748400e+03,
       7.2370000e+04, 4.3767400e+06, 1.9864160e+05, 3.8884190e+06,
       7.2369630e+05, 9.6544000e+04, 1.1187990e+04, 1.1459640e+04,
       4.4830000e+04, 5.1357000e+04, 6.7444910e+06, 1.2361400e+05,
       8.6477530e+05, 4.0264000e+04, 3.9490870e+05, 4.5363000e+04,
       4.6681000e+04, 1.7719000e+04, 4.0438000e+04, 1.7174290e+04,
       5.6337890e+05, 2.0322000e+04, 1.0481000e+04, 6.0643000e+04,
       2.0937000e+04, 4.4203120e+06, 1.8972400e+05, 4.6459000e+04,
       1.1728933e+07, 7.4886000e+04, 2.6317000e+04, 8.8872680e+05,
       2.9535000e+04, 6.4918000e+04, 2.3161100e+05, 2.3391000e+04,
       1.7869250e+06, 2.1947000e+04, 3.2169000e+04, 8.8873000e+04,
       5.2280000e+04, 1.1874100e+05, 7.3967000e+04, 7.2564000e+04,
       1.3267900e+05, 1.1409700e+05, 1.6795200e+05, 2.0175120e+05,
       1.0966400e+05, 2.0006000e+04, 2.9534700e+06, 2.0175000e+04,
       2.3750000e+03, 1.9872000e+04, 1.3344000e+04, 4.2791000e+04,
       1.9375090e+06, 3.5581670e+05, 2.3748400e+04, 5.4731860e+06,
       2.3076000e+04, 9.4300000e+03, 2.3161000e+04, 2.5094000e+04,
       1.9375000e+04, 6.7445000e+04, 7.2564100e+06, 9.7644250e+06,
       1.1480624e+07, 4.3573000e+04, 1.2645400e+07, 1.7116000e+04,
       3.6350600e+06, 1.3721000e+04, 9.4029640e+05, 4.0308000e+04,
       3.8884000e+04, 8.2953000e+04, 8.2953190e+06, 2.0258000e+04,
       3.0991000e+04, 1.3441000e+04, 3.7950000e+03, 1.6286700e+05,
       2.3075710e+05, 1.1072000e+04, 6.9584330e+05, 2.4160000e+04,
       6.0643250e+05, 2.1457000e+04, 9.5495000e+04, 6.2405000e+04,
       1.8501000e+05, 9.7644000e+04, 1.8723200e+05, 8.6988000e+04,
       2.2779000e+04, 2.9350000e+04, 1.9046900e+05, 2.1211500e+05,
       8.9780000e+03, 3.2169010e+06, 7.2564100e+05, 1.5595900e+05,
       1.5201500e+05, 4.4203000e+04, 4.0307830e+05, 4.0264160e+06,
       1.3072400e+05, 4.3767000e+04, 2.3088000e+04, 5.6338000e+04,
       1.2645400e+06, 6.9584000e+04, 2.3264000e+04, 1.6482800e+05,
       3.7013540e+06, 1.9864000e+04, 4.1409000e+04, 2.0321710e+06,
       1.5974200e+05, 7.6247000e+04, 4.2790640e+06, 1.2361429e+07,
       1.3617700e+05, 1.1532000e+04, 1.2757000e+04, 1.1188000e+04,
       5.6460000e+03, 9.4030000e+04, 2.5093870e+06, 4.6458940e+06,
       2.0006120e+06, 3.8970000e+03, 2.4160320e+05, 1.0264900e+05,
       2.3391490e+05, 1.5842500e+05, 2.1172100e+05, 1.7717000e+04,
       2.9675170e+06, 1.4363000e+04, 8.6477530e+06, 6.9584330e+06,
       1.6927003e+06, 1.3495030e+05, 3.5582000e+04, 2.2683690e+05,
       2.3264310e+06, 2.0175120e+06, 1.5229000e+04, 6.0643250e+06,
       1.3930800e+05, 7.4885610e+06, 1.3495000e+04, 1.0264914e+07,
       1.3119465e+07, 2.1947260e+06, 8.8664850e+06, 1.4834700e+05,
       8.8664850e+05, 9.7530000e+03, 1.3072361e+06, 1.4559000e+05,
       7.8047800e+05, 4.6680900e+06, 1.1460000e+04, 1.5201502e+06,
       8.6478000e+04, 7.5380480e+06, 4.0438410e+05, 1.3791000e+04,
       1.0274100e+05, 7.7210000e+03, 1.8470500e+05, 1.6927000e+05,
       1.0966446e+06, 4.5363470e+06, 1.1531600e+06, 1.3966000e+04,
       1.2171100e+06, 1.2984580e+06, 1.1814116e+07, 2.8668340e+05,
       1.3922000e+04, 9.6543620e+05, 1.7174000e+04, 1.6416700e+05,
       4.3767400e+05, 1.5074600e+05, 2.1172116e+07, 1.3975200e+05,
       2.9675170e+05, 1.7979500e+05, 1.8053100e+05, 5.1356920e+06,
       2.1947260e+05, 2.0987555e+06, 3.6350600e+05, 6.4917570e+05,
       2.9350420e+06, 4.6234090e+06, 4.6234090e+05, 1.7718710e+05,
       1.7790720e+06, 2.2779490e+05, 2.0937460e+05, 2.1211500e+06,
       1.6406000e+04, 7.4885610e+05, 1.3072361e+07, 6.2405020e+06,
       7.5380480e+05, 4.2790640e+05, 1.7206000e+04, 8.6987640e+05,
       6.4917570e+06, 1.5595890e+07, 1.5228530e+05, 4.6680900e+05,
       1.9871970e+05, 8.8872680e+06, 1.3930776e+07, 1.3975159e+06,
       1.5595890e+06, 2.6317100e+05, 1.2171000e+04, 2.0987555e+07,
       4.6458940e+05, 1.1648000e+04, 1.1814116e+06, 1.7979549e+07,
       1.4558980e+06, 2.0323890e+05, 7.8047800e+06, 5.1356920e+05,
       2.4762020e+05])

##Q3 customer_rating columns clean

In [7]:
df = pd.read_csv(file_path)

chars2_to_remove=['stars']
cols_to_clean2=['customer_rating']
for item in chars2_to_remove:
    for cols in cols_to_clean2:
        df[cols]=df[cols].astype(str).str.replace(item,'', regex=False)

df['customer_rating'] = df['customer_rating'].astype(str).str.split('/').str[0]

df.to_csv(file_path, index=False)

print(" customer_rating clean and file updated successfully.")

 customer_rating clean and file updated successfully.

##Q4 customer_city

In [8]:
df = pd.read_csv(file_path)

city_map = {
    'ahmedabad': 'Ahmedabad',
    'aligarh': 'Aligarh',
    'allahabad': 'Allahabad',
    'bangalore': 'Bengaluru',
    'banglore': 'Bengaluru',
    'bengalore': 'Bengaluru',
    'bengaluru': 'Bengaluru',
    'bhubaneswar': 'Bhubaneswar',
    'bombay': 'Mumbai',
    'calcutta': 'Kolkata',
    'chandigarh': 'Chandigarh',
    'chenai': 'Chennai',
    'chennai': 'Chennai',
    'coimbatore': 'Coimbatore',
    'customer_city': 'Unknown',
    'delhi': 'Delhi',
    'delhi ncr': 'Delhi',
    'new delhi': 'Delhi',
    'gorakhpur': 'Gorakhpur',
    'hyderabad': 'Hyderabad',
    'indore': 'Indore',
    'jaipur': 'Jaipur',
    'kanpur': 'Kanpur',
    'kochi': 'Kochi',
    'kolkata': 'Kolkata',
    'lucknow': 'Lucknow',
    'ludhiana': 'Ludhiana',
    'madras': 'Chennai',
    'meerut': 'Meerut',
    'moradabad': 'Moradabad',
    'mumba': 'Mumbai',
    'mumbai': 'Mumbai',
    'nagpur': 'Nagpur',
    'patna': 'Patna',
    'pune': 'Pune',
    'saharanpur': 'Saharanpur',
    'surat': 'Surat',
    'vadodara': 'Vadodara',
    'varanasi': 'Varanasi',
    'visakhapatnam': 'Visakhapatnam'
}

df['customer_city'] = df['customer_city'].str.lower().map(city_map)

df.to_csv(file_path, index=False)

print(" customer_city clean and file updated successfully.")

 customer_city clean and file updated successfully.

##Q5 is_prime_member, is_prime_eligible, is_festival_sale

In [9]:
df['is_festival_sale'].unique()

array(['True', 'False', 'FALSE', 'No', '0', '1', 'Yes', 'TRUE'],
      dtype=object)

In [10]:
df = pd.read_csv(file_path)

# Define a universal boolean cleaner
def clean_boolean(value):
    try:
        value = str(value).strip().lower()
        if value in ['true', 'yes', 'y', '1']:
            return True
        elif value in ['false', 'no', 'n', '0']:
            return False
        else:
            return False  # or use pd.NA if you want to preserve missing
    except:
        return False

# Apply to all relevant columns
boolean_columns = ['is_prime_member', 'is_prime_eligible', 'is_festival_sale']
for col in boolean_columns:
    df[col] = df[col].apply(clean_boolean)
    
df['is_prime_member']=df['is_prime_member'].astype(bool)
df['is_prime_eligible']=df['is_prime_eligible'].astype(bool)
df['is_festival_sale']=df['is_festival_sale'].astype(bool)
# Save the cleaned data back to the same file
df.to_csv(file_path, index=False)

print(" Boolean columns standardized to True/False and file updated successfully.")

 Boolean columns standardized to True/False and file updated successfully.

In [11]:
df['is_prime_eligible'].unique()

array([ True, False])

##Q6 categories

In [12]:
df['category'].unique()

array(['Electronics', 'ELECTRONICS', 'Electronics & Accessories',
       'Electronic', 'Electronicss'], dtype=object)

In [13]:
# Q6: Standardize product categories

df = pd.read_csv(file_path)

# Normalize category names
df['category'] = df['category'].str.lower().str.strip()

# Define mapping for standardization
category_map = {
    'electronics': 'Electronics',
    'electronic': 'Electronics',
    'electronics & accessories': 'Electronics',
    'electronicss': 'Electronics'
}

# Apply mapping
df['category'] = df['category'].replace(category_map)

# Capitalize standardized names
df['category'] = df['category'].str.title()

# Overwrite the original file with cleaned data
df.to_csv(file_path, index=False)

print(" Category names standardized and file updated successfully.")

 Category names standardized and file updated successfully.

##Q7 delivery_days

In [14]:
df['delivery_days'].unique()

array(['6', '4', '3', '5', '7', 'Express', '0', '-1', 'Same Day',
       '1-2 days', '15'], dtype=object)

In [15]:
df = pd.read_csv(file_path)

d_days={
   "Same Day":"0",
   "Express":"0",
    "1-2 days":"2",
    "-1":"1"
}

def clean_delivery_days(value):
    val = str(value).strip()
    return d_days.get(val, val)

df["delivery_days"] = df["delivery_days"].apply(clean_delivery_days)

df["delivery_days"]=df["delivery_days"].astype(int)


df.to_csv(file_path, index=False)

print(" delivery_days corrected and saved ")

 delivery_days corrected and saved

In [16]:
df['delivery_days'].unique()

array([ 6,  4,  3,  5,  7,  0,  1,  2, 15])

##Q8 customer_id', 'product_id', 'order_date', 'final_amount_inr

In [30]:
df[df.duplicated('product_id')].shape

(1125605, 34)

In [17]:
# Q8: Flag duplicates
import pandas as pd

# Load your dataset

df = pd.read_csv(file_path)

df[df.duplicated(subset=['customer_id', 'product_id', 'order_date', 'final_amount_inr'], keep=False)]
df=df.drop_duplicates(subset=['customer_id', 'product_id', 'order_date', 'final_amount_inr'],keep='first')


# Overwrite original file with cleaned data
df.to_csv(file_path, index=False)

print("✅ Flag duplicates corrected and file updated successfully.")

✅ Flag duplicates corrected and file updated successfully.

In [18]:
df[df.duplicated(subset=['customer_id', 'product_id', 'order_date', 'final_amount_inr'], keep=False)]

Empty DataFrame
Columns: [transaction_id, order_date, customer_id, product_id, product_name, category, subcategory, brand, original_price_inr, discount_percent, discounted_price_inr, quantity, subtotal_inr, delivery_charges, final_amount_inr, customer_city, customer_state, customer_tier, customer_spending_tier, customer_age_group, payment_method, delivery_days, delivery_type, is_prime_member, is_festival_sale, festival_name, customer_rating, return_status, order_month, order_year, order_quarter, product_weight_kg, is_prime_eligible, product_rating]
Index: []

[0 rows x 34 columns]

##Q9

In [19]:
df['original_price_inr'].unique()

array([1.2361429e+05, 5.4731860e+04, 9.7644250e+04, 2.1947260e+04,
       1.3119465e+05, 8.6987640e+04, 3.2169010e+04, 4.0264160e+04,
       8.8664850e+04, 7.3967020e+04, 7.2564100e+04, 2.0987555e+05,
       4.5363470e+04, 2.3075710e+04, 1.1409663e+05, 6.9584330e+04,
       3.8884190e+04, 4.6234090e+04, 1.5065010e+04, 1.6416684e+05,
       6.4917570e+04, 2.9534700e+04, 8.6477530e+04, 1.3721420e+04,
       1.1814116e+05, 8.6591570e+04, 2.3264310e+04, 9.4029640e+04,
       1.7206230e+04, 3.7013540e+04, 1.3043024e+05, 1.3072361e+05,
       4.1408670e+04, 5.6337890e+04, 7.5380480e+04, 2.3161100e+04,
       4.6680900e+04, 4.3572750e+04, 1.9375090e+04, 3.8969900e+03,
       2.0006120e+04, 3.0990650e+04, 9.6543620e+04, 2.2683690e+04,
       1.0264914e+05, 1.0738737e+05, 6.7444910e+04, 2.4762020e+04,
       1.7790720e+04, 4.7979000e+04, 2.4448870e+04, 1.0274122e+05,
       5.1356920e+04, 3.3199840e+04, 9.7531100e+03, 8.8872680e+04,
       7.2369630e+04, 1.2645400e+05, 2.4762000e+04, 7.8047800e+04,
       6.0643250e+04, 1.4558980e+05, 2.1212000e+04, 4.0438410e+04,
       1.2984580e+04, 3.9490870e+04, 4.0307830e+04, 6.2405020e+04,
       1.1071950e+04, 8.2953190e+04, 2.0323890e+04, 1.7320342e+05,
       4.6458940e+04, 9.5494860e+04, 3.5581670e+04, 3.1102540e+04,
       1.9046910e+05, 1.9871970e+04, 2.1172116e+05, 2.5093870e+04,
       2.1211500e+04, 5.2280350e+04, 2.9350420e+04, 1.6954440e+05,
       1.9864160e+04, 1.3495030e+04, 4.6234000e+04, 7.6246510e+04,
       5.6461600e+03, 2.4160320e+04, 4.3767400e+04, 3.9010090e+04,
       1.7349967e+05, 2.8668340e+04, 2.3087980e+04, 2.6317100e+04,
       7.4885610e+04, 9.7905920e+04, 4.5182310e+04, 4.2790640e+04,
       1.1480624e+05, 2.0175120e+04, 1.3142121e+05, 4.7978890e+04,
       2.2779490e+04, 1.3617695e+05, 2.3391490e+04, 3.9491000e+04,
       1.7869250e+04, 3.6351000e+04, 5.7182390e+04, 7.7250030e+04,
       1.8500958e+05, 1.7979549e+05, 1.3267866e+05, 1.6795246e+05,
       1.3043000e+05, 1.0481430e+04, 1.7869000e+04, 1.1531600e+04,
       2.2684000e+04, 1.1728933e+05, 9.4298200e+03, 1.0966446e+05,
       1.6482819e+05, 1.8053075e+05, 2.1456840e+04, 1.3759000e+05,
       1.5595890e+05, 1.7718710e+04, 1.7116370e+04, 1.8318573e+05,
       1.1874051e+05, 1.5074620e+05, 1.1728900e+05, 1.3758970e+05,
       4.4830400e+04, 2.0321710e+04, 9.7906000e+04, 2.9675170e+04,
       1.0738700e+05, 2.0258290e+04, 1.8723201e+05, 1.4094679e+05,
       1.3440840e+04, 4.5182000e+04, 4.4830400e+05, 5.7182000e+04,
       3.6350600e+04, 3.9010090e+06, 3.7014000e+04, 4.4203120e+04,
       1.5974247e+05, 1.4094700e+05, 1.5228530e+04, 1.6406110e+04,
       1.3119500e+05, 3.1103000e+04, 1.3930776e+05, 1.6927003e+05,
       8.8665000e+04, 1.7717090e+04, 7.7250000e+04, 1.5842489e+05,
       1.4362600e+04, 1.1814100e+05, 2.9675000e+04, 8.6592000e+04,
       8.9785000e+03, 1.7791000e+04, 1.3344050e+04, 1.1480600e+05,
       1.3965560e+04, 1.8470489e+05, 1.2171100e+04, 1.3790620e+04,
       2.0937460e+04, 2.0324000e+04, 1.3975159e+05, 2.0987600e+05,
       3.9010000e+04, 1.8972448e+05, 1.1648020e+04, 1.6286691e+05,
       3.3200000e+04, 2.4449000e+04, 7.7205100e+03, 3.7950100e+03,
       7.5380000e+04, 2.8668000e+04, 1.2757300e+04, 1.4834657e+05,
       1.8318600e+05, 7.8048000e+04, 1.3921720e+04, 5.4732000e+04,
       1.5201502e+05, 2.6317100e+06, 1.5126000e+05, 2.3748400e+03,
       7.2370000e+04, 4.3767400e+06, 1.9864160e+05, 3.8884190e+06,
       7.2369630e+05, 9.6544000e+04, 1.1187990e+04, 1.1459640e+04,
       4.4830000e+04, 5.1357000e+04, 6.7444910e+06, 1.2361400e+05,
       8.6477530e+05, 4.0264000e+04, 3.9490870e+05, 4.5363000e+04,
       4.6681000e+04, 1.7719000e+04, 4.0438000e+04, 1.7174290e+04,
       5.6337890e+05, 2.0322000e+04, 1.0481000e+04, 6.0643000e+04,
       2.0937000e+04, 4.4203120e+06, 1.8972400e+05, 4.6459000e+04,
       1.1728933e+07, 7.4886000e+04, 2.6317000e+04, 8.8872680e+05,
       2.9535000e+04, 6.4918000e+04, 2.3161100e+05, 2.3391000e+04,
       1.7869250e+06, 2.1947000e+04, 3.2169000e+04, 8.8873000e+04,
       5.2280000e+04, 1.1874100e+05, 7.3967000e+04, 7.2564000e+04,
       1.3267900e+05, 1.1409700e+05, 1.6795200e+05, 2.0175120e+05,
       1.0966400e+05, 2.0006000e+04, 2.9534700e+06, 2.0175000e+04,
       2.3750000e+03, 1.9872000e+04, 1.3344000e+04, 4.2791000e+04,
       1.9375090e+06, 3.5581670e+05, 2.3748400e+04, 5.4731860e+06,
       2.3076000e+04, 9.4300000e+03, 2.3161000e+04, 2.5094000e+04,
       1.9375000e+04, 6.7445000e+04, 7.2564100e+06, 9.7644250e+06,
       1.1480624e+07, 4.3573000e+04, 1.2645400e+07, 1.7116000e+04,
       3.6350600e+06, 1.3721000e+04, 9.4029640e+05, 4.0308000e+04,
       3.8884000e+04, 8.2953000e+04, 8.2953190e+06, 2.0258000e+04,
       3.0991000e+04, 1.3441000e+04, 3.7950000e+03, 1.6286700e+05,
       2.3075710e+05, 1.1072000e+04, 6.9584330e+05, 2.4160000e+04,
       6.0643250e+05, 2.1457000e+04, 9.5495000e+04, 6.2405000e+04,
       1.8501000e+05, 9.7644000e+04, 1.8723200e+05, 8.6988000e+04,
       2.2779000e+04, 2.9350000e+04, 1.9046900e+05, 2.1211500e+05,
       8.9780000e+03, 3.2169010e+06, 7.2564100e+05, 1.5595900e+05,
       1.5201500e+05, 4.4203000e+04, 4.0307830e+05, 4.0264160e+06,
       1.3072400e+05, 4.3767000e+04, 2.3088000e+04, 5.6338000e+04,
       1.2645400e+06, 6.9584000e+04, 2.3264000e+04, 1.6482800e+05,
       3.7013540e+06, 1.9864000e+04, 4.1409000e+04, 2.0321710e+06,
       1.5974200e+05, 7.6247000e+04, 4.2790640e+06, 1.2361429e+07,
       1.3617700e+05, 1.1532000e+04, 1.2757000e+04, 1.1188000e+04,
       5.6460000e+03, 9.4030000e+04, 2.5093870e+06, 4.6458940e+06,
       2.0006120e+06, 3.8970000e+03, 2.4160320e+05, 1.0264900e+05,
       2.3391490e+05, 1.5842500e+05, 2.1172100e+05, 1.7717000e+04,
       2.9675170e+06, 1.4363000e+04, 8.6477530e+06, 6.9584330e+06,
       1.6927003e+06, 1.3495030e+05, 3.5582000e+04, 2.2683690e+05,
       2.3264310e+06, 2.0175120e+06, 1.5229000e+04, 6.0643250e+06,
       1.3930800e+05, 7.4885610e+06, 1.3495000e+04, 1.0264914e+07,
       1.3119465e+07, 2.1947260e+06, 8.8664850e+06, 1.4834700e+05,
       8.8664850e+05, 9.7530000e+03, 1.3072361e+06, 1.4559000e+05,
       7.8047800e+05, 4.6680900e+06, 1.1460000e+04, 1.5201502e+06,
       8.6478000e+04, 7.5380480e+06, 4.0438410e+05, 1.3791000e+04,
       1.0274100e+05, 7.7210000e+03, 1.8470500e+05, 1.6927000e+05,
       1.0966446e+06, 4.5363470e+06, 1.1531600e+06, 1.3966000e+04,
       1.2171100e+06, 1.2984580e+06, 1.1814116e+07, 2.8668340e+05,
       1.3922000e+04, 9.6543620e+05, 1.7174000e+04, 1.6416700e+05,
       4.3767400e+05, 1.5074600e+05, 2.1172116e+07, 1.3975200e+05,
       2.9675170e+05, 1.7979500e+05, 1.8053100e+05, 5.1356920e+06,
       2.1947260e+05, 2.0987555e+06, 3.6350600e+05, 6.4917570e+05,
       2.9350420e+06, 4.6234090e+06, 4.6234090e+05, 1.7718710e+05,
       1.7790720e+06, 2.2779490e+05, 2.0937460e+05, 2.1211500e+06,
       1.6406000e+04, 7.4885610e+05, 1.3072361e+07, 6.2405020e+06,
       7.5380480e+05, 4.2790640e+05, 1.7206000e+04, 8.6987640e+05,
       6.4917570e+06, 1.5595890e+07, 1.5228530e+05, 4.6680900e+05,
       1.9871970e+05, 8.8872680e+06, 1.3930776e+07, 1.3975159e+06,
       1.5595890e+06, 2.6317100e+05, 1.2171000e+04, 2.0987555e+07,
       4.6458940e+05, 1.1648000e+04, 1.1814116e+06, 1.7979549e+07,
       1.4558980e+06, 2.0323890e+05, 7.8047800e+06, 5.1356920e+05])

In [20]:

import os
# Q9: Fix outlier prices


df = pd.read_csv(file_path)

# Normalize column names
df.columns = df.columns.str.strip().str.lower().str.replace('₹', '').str.replace(' ', '_')

# IQR bounds for fallback correction
Q1 = df['original_price_inr'].quantile(0.25)
Q3 = df['original_price_inr'].quantile(0.75)
IQR = Q3 - Q1
upper_bound = Q3 + 1.5 * IQR

# Define expected price ranges by subcategory
subcategory_price_ranges = {
    'smartphones': (5000, 100000),
    'smart_watch': (500, 15000),
    'audio': (300, 20000),
    'tablets': (5000, 60000),
    'laptops': (20000, 150000),
    'tv_&_entertainment': (10000, 150000)
}

# Correction logic using subcategory
def correct_price(row):
    price = row['original_price_inr']
    subcat = str(row.get('subcategory', '')).strip().lower().replace(' ', '_')
    expected = subcategory_price_ranges.get(subcat)
    
    if expected:
        min_p, max_p = expected
        if price > max_p * 10:
            return price / 100
        elif price < min_p / 10:
            return price * 100
    if price > upper_bound:
        return price / 100
    return price

# Apply correction
df['original_price_inr'] = df.apply(correct_price, axis=1)

# Save updated file
df.to_csv(file_path, index=False)
print("✅ Outlier prices corrected and saved for amazon_india_2024.csv")

C:\Users\Praveen\AppData\Local\Temp\ipykernel_15908\3271668278.py:5: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

✅ Outlier prices corrected and saved for amazon_india_2024.csv

##10 payment_method

In [21]:
df['payment_method'].unique()

array(['COD', 'Debit Card', 'Credit Card', 'Net Banking'], dtype=object)

In [22]:
import os
import pandas as pd
import numpy as np


df = pd.read_csv(file_path)

# Define mapping dictionary for payment methods
payment_mapping = {
    'upi': 'UPI',
    'phonepe': 'UPI',
    'googlepay': 'UPI',
    'bhim': 'UPI',

    'credit card': 'Credit Card',
    'creditcard': 'Credit Card',
    'cc': 'Credit Card',
    'visa': 'Credit Card',
    'mastercard': 'Credit Card',
    'BNPL' : 'Credit Card',

    'cash on delivery': 'Cash on Delivery',
    'cod': 'Cash on Delivery',
    'c.o.d': 'Cash on Delivery',
    'cash': 'Cash on Delivery',

    'debit card': 'Debit Card',
    'dc': 'Debit Card',
    'debitcard': 'Debit Card',

    'net banking': 'Net Banking',
    'netbanking': 'Net Banking',
    'nb': 'Net Banking',

    'emi': 'EMI',
    'installment': 'EMI',

    'wallet': 'Wallet',
    'paytm': 'Wallet',
    'amazonpay': 'Wallet',
    'mobikwik': 'Wallet'
}

# Function to clean payment method
def clean_payment_method(value):
    if pd.isna(value):
        return 'Unknown'
    value = str(value).lower().strip()
    # Check for exact key match first for a cleaner search in case of full strings
    if value in payment_mapping: 
        return payment_mapping[value]
    # Check for substring match (as in the original logic for cases like 'visa' in 'paid by visa cc')
    for key in payment_mapping:
        if key in value:
            return payment_mapping[key]
    return 'Other'

# Apply cleaning function
# Assuming the original column name is 'payment_method'
# If the column name is different, adjust 'payment_method' accordingly
df['payment_method'] = df['payment_method'].apply(clean_payment_method)

# Save the updated DataFrame back to the same file path string
df.to_csv(file_path, index=False)

print("✅ Payment method column cleaned and file updated successfully.")

C:\Users\Praveen\AppData\Local\Temp\ipykernel_15908\814702657.py:6: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

✅ Payment method column cleaned and file updated successfully.

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33000 entries, 0 to 32999
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          33000 non-null  object
 1   order_date              33000 non-null  object
 2   customer_id             33000 non-null  object
 3   product_id              33000 non-null  object
 4   product_name            33000 non-null  object
 5   category                33000 non-null  object
 6   subcategory             33000 non-null  object
 7   brand                   33000 non-null  object
 8   original_price_inr      33000 non-null  float64
 9   discount_percent        33000 non-null  float64
 10  discounted_price_inr    33000 non-null  float64
 11  quantity                33000 non-null  int64
 12  subtotal_inr            33000 non-null  float64
 13  delivery_charges        30360 non-null  float64
 14  final_amount_inr        33000 non-null  float64
 15  customer_city           32861 non-null  object
 16  customer_state          33000 non-null  object
 17  customer_tier           33000 non-null  object
 18  customer_spending_tier  33000 non-null  object
 19  customer_age_group      29040 non-null  object
 20  payment_method          33000 non-null  object
 21  delivery_days           33000 non-null  int64
 22  delivery_type           33000 non-null  object
 23  is_prime_member         33000 non-null  bool
 24  is_festival_sale        33000 non-null  bool
 25  festival_name           10541 non-null  object
 26  customer_rating         23074 non-null  float64
 27  return_status           33000 non-null  object
 28  order_month             33000 non-null  int64
 29  order_year              33000 non-null  int64
 30  order_quarter           33000 non-null  int64
 31  product_weight_kg       33000 non-null  float64
 32  is_prime_eligible       33000 non-null  bool
 33  product_rating          33000 non-null  float64
dtypes: bool(3), float64(9), int64(5), object(17)
memory usage: 7.9+ MB

In [24]:
df.isnull().sum()

transaction_id                0
order_date                    0
customer_id                   0
product_id                    0
product_name                  0
category                      0
subcategory                   0
brand                         0
original_price_inr            0
discount_percent              0
discounted_price_inr          0
quantity                      0
subtotal_inr                  0
delivery_charges           2640
final_amount_inr              0
customer_city               139
customer_state                0
customer_tier                 0
customer_spending_tier        0
customer_age_group         3960
payment_method                0
delivery_days                 0
delivery_type                 0
is_prime_member               0
is_festival_sale              0
festival_name             22459
customer_rating            9926
return_status                 0
order_month                   0
order_year                    0
order_quarter                 0
product_weight_kg             0
is_prime_eligible             0
product_rating                0
dtype: int64

In [25]:
df['delivery_charges'].unique()

array([ 0., nan])

In [26]:
###ndelivery_charges null value remove

df = pd.read_csv(file_path)

# The correct way to replace the special NaN (Not a Number) value with 0
df['delivery_charges'] = df['delivery_charges'].fillna(0)
df['delivery_charges'] = df['delivery_charges'].astype(int)

df.to_csv(file_path, index=False)

C:\Users\Praveen\AppData\Local\Temp\ipykernel_15908\3287117921.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [27]:
df['delivery_charges'].unique()

array([0])

In [28]:
df['customer_age_group'].unique()

array(['46-55', '26-35', '36-45', '18-25', nan, '55+'], dtype=object)

In [29]:
df['customer_age_group']=df['customer_age_group'].fillna('unknown')
df.to_csv(file_path, index=False)

In [30]:
df['customer_city'].unique()

array(['Mumbai', 'Allahabad', 'Kolkata', 'Ludhiana', 'Delhi', 'Lucknow',
       'Jaipur', 'Bhubaneswar', 'Ahmedabad', 'Bengaluru', 'Pune', 'Kochi',
       'Chennai', 'Nagpur', 'Visakhapatnam', 'Gorakhpur', 'Kanpur',
       'Chandigarh', 'Hyderabad', 'Aligarh', 'Indore', 'Patna', 'Meerut',
       'Coimbatore', 'Vadodara', 'Saharanpur', nan, 'Moradabad', 'Surat',
       'Varanasi'], dtype=object)

In [31]:
df = pd.read_csv(file_path)

# The correct way to replace the special NaN (Not a Number) value with 0
df['customer_city'] = df['customer_city'].fillna('unknown')

df.to_csv(file_path, index=False)

C:\Users\Praveen\AppData\Local\Temp\ipykernel_15908\1464423568.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [32]:
df.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2015_00000001,2015-01-25,CUST_2015_00003884,PROD_000021,Samsung Galaxy S6 16GB Black,Electronics,Smartphones,Samsung,123614.29,27.91,...,True,Republic Day Sale,5.0,Delivered,1,2015,1,0.19,True,4.7
1,TXN_2015_00000002,2015-01-05,CUST_2015_00011709,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,False,NaN,4.5,Delivered,1,2015,1,0.20,True,4.1
2,TXN_2015_00000003,2015-01-24,CUST_2015_00004782,PROD_000039,Samsung Galaxy Note 5 64GB Black,Electronics,Smartphones,Samsung,97644.25,46.93,...,True,Republic Day Sale,NaN,Delivered,1,2015,1,0.17,True,3.3
3,TXN_2015_00000004,2015-01-28,CUST_2015_00008105,PROD_000085,Motorola Moto G (3rd Gen) 16GB Black,Electronics,Smartphones,Motorola,21947.26,0.00,...,False,NaN,3.0,Delivered,1,2015,1,0.22,True,3.5
4,TXN_2015_00000005,2015-01-31,CUST_2015_00002955,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,False,NaN,4.0,Delivered,1,2015,1,0.20,True,4.1

In [33]:
df['festival_name'].unique()

array(['Republic Day Sale', nan, 'Valentine Sale', 'Holi Festival',
       'Summer Sale', 'Back to School', 'Prime Day',
       'Amazon Great Indian Festival', 'Diwali Sale'], dtype=object)

In [ ]:
df['festival_name']=df['festival_name'].str.replace('')
#df.to_csv(file_path, index=False)

In [7]:
df['festival_name'].unique()

array(['', 'Summer Sale', 'Back to School', 'Diwali Sale',
       'Holi Festival', 'Amazon Great Indian Festival',
       'Republic Day Sale', 'Valentine Sale', 'Prime Day'], dtype=object)

In [34]:
df['customer_rating'].unique()

array([5. , 4.5, nan, 3. , 4. , 3.5])

In [60]:
df['customer_rating'].describe()

count    782018.000000
mean          4.310691
std           0.572483
min           3.000000
25%           4.000000
50%           4.500000
75%           5.000000
max           5.000000
Name: customer_rating, dtype: float64

In [35]:
#df['customer_rating']=df['customer_rating'].fillna().mean
# Correct and concise one-line solution
#df['customer_rating'] = df['customer_rating'].fillna(df['customer_rating'].25%())

df['customer_rating'] = df['customer_rating'].fillna(df['customer_rating'].quantile(0.25))

df['customer_rating'] = df['customer_rating'].astype(float)

df.to_csv(file_path, index=False)

In [36]:
df['customer_rating'].unique()

array([5. , 4.5, 4. , 3. , 3.5])